/* Mengatur gaya ikon */

/*.icon-object {*/
/*  border: 2px solid red;*/
/*  display: inline-block;*/
/*  padding: 1px;*/
/*  border-radius: 50%;*/
/*}*/

/*.icon-object img {*/
/*  border: 2px solid orange;*/
/*  width: 50px;*/
/*  height: auto;*/
/*  border-radius: 50%;*/
/*}*/

/* Reset margin dan padding halaman */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Mengatur tampilan kontainer login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Mengatur tampilan form login */
.login-form {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/* Mengatur tampilan logo */
.logo {
  width: 50px;
  margin-bottom: 10px;
}

/* Mengatur tampilan nama aplikasi */
.app-name {
  font-size: 20px;
  margin: 5px 0;
  color: #000000;
}

/* Mengatur tampilan versi aplikasi */
.app-version {
  color: #888888;
}

/* Mengatur tampilan teks login */
.login-text {
  font-size: 16px;
  margin-top: 15px;
}

/* Mengatur tampilan grup form */
.form-group {
  margin-bottom: 15px;
}

/* Mengatur tampilan input form */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  outline: none;
}

/* Mengatur tampilan input form saat fokus */
.form-control:focus {
  border: 1px solid #ff7043;
  box-shadow: 0 0 10px 3px rgba(255, 112, 67, 0.3);
}

/* Mengatur tampilan tombol login */
.btn-login {
  background-color: #ff7043;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

/* Mengatur tampilan footer */
.footer {
  margin-top: 20px;
  color: #888888;
}

/* Mengatur tampilan tautan */
a {
  color: #888888;
  text-decoration: none;
}

/* Mengatur tampilan tautan saat hover */
a:hover {
  color: #555555;
}
